GELITA_COMPANY_NAME=Gelita AG
GELITA_TOOLKIT_NAME=Gelita IT Toolkit
GELITA_TOOLKIT_GITHUB_REPOSITORY=pedrolucasgelitati-byte/Gelita-IT-Toolkit
GELITA_TOOLKIT_GITHUB_TOKEN=
GELITA_TOOLKIT_SIGNER_THUMBPRINT=

GELITA_CITRIX_BR_NAME=CitrixBRInternal
GELITA_CITRIX_BR_DISCOVERY_URL=
GELITA_CITRIX_EB_NAME=CitrixEB
GELITA_CITRIX_EB_DISCOVERY_URL=

GELITA_MARINGA_PRINT_SERVER=
GELITA_MARINGA_PRINTER_NETWORK=
GELITA_COTIA_PRINT_SERVER=
GELITA_COTIA_PRINTER_NETWORK=
GELITA_MOCOCA_PRINT_SERVER=
GELITA_MOCOCA_PRINTER_NETWORK=

GELITA_OFFICE_ODT_DIRECTORY=
GELITA_OFFICE_CONFIGURATION=
GELITA_TOOLKIT_PORTAL_URL=
GELITA_TOOLKIT_AGENT_KEY=
GELITA_TOOLKIT_UNIT=
